.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3{
    font-family: 'Barlow Condensed', sans-serif;
}

.btn-login{
    background-color: #bf0811;
    border-color: #bf0811;
}